<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company | Landing</title>
    <link rel="stylesheet" href="/css/profile_tut_cmp.css">

    <style>
        .navigation ul li:nth-child(2) {
            background-color: var(--white);
        }
        .navigation ul li:nth-child(2) a {
            color: var(--blue);
        }
        .navigation ul li:nth-child(1) {
            margin-bottom: 40px;
            pointer-events: none;
          }
    </style>
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('partials/profile_sidebar_company'); -%>
        <!-- ========================= Main ==================== -->
        <div class="main Dashboard">
            <%- include('partials/topbar'); -%>
                <!-- ================= New Users ================ -->
                <div class="recentUsers">
                    <div class="cardHeader">
                        <h2>My Profile</h2>
                    </div>

                    <table>
                        <tr>
                           <td>Company Name </td>
                           <td> : </td>
                           <td> <%= company.Name %> </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td> : </td>
                            <td>  <%= company.Email %> </td>
                        </tr>

                        <tr>
                            <td>Mobile</td>
                            <td> : </td>
                            <td> <%= company.Mobile %> </td>
                        </tr>

                        
                        <tr>
                            <td>Address</td>
                            <td> : </td>
                            <td> <%= company.Address %></td>
                        </tr>


                        <tr>
                            <td>Country</td>
                            <td> : </td>
                            <td> <%= company.Country %>  </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    <!-- =========== Scripts =========  -->
    <script src="js/main.js"></script>

</body>
</html>