<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/JobSeeker_Filter.css" />
    <link rel="stylesheet" href="/css/homePage_nav.css" />
    <link rel="stylesheet" href="/css/footer_styles.css" />
    <link rel="stylesheet" href="/css/res3.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
    <link rel="stylesheet" href="/css/res4.css">
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
    <title>Filter | Page</title>
  </head>
  <body>
   <%- include('partials/navbar_jobSeeker'); -%>  
    <div class="container">    
      <div class="input_filter">
        <h1>FIND JOBS</h1>
        <div class="boxes">
          <input
          type="search"
          placeholder="ðŸ” Search..."
          id="search-input"
          style="font-size: 1.2rem"
          value=""
        />
        </div>
      </div>

      <br>
      <br>
  
      </div>
      <div>
        <div class="cards">
        <% for(let i=0; i< Company.length; i++){ %>
          <% if(Company[i].Vacancies != 0){ %>
            <% let width = (Company[i].Total - Company[i].Vacancies)/Company[i].Total * 100 %>
          <div class="card">
            <div class="img">
              <img src="/resources/placement.jpg" alt="" style="width: 25vh; height: 25vh" />
            </div>
            <div class="content" style="width: 100%">
              <h2 class="cname"><%=Company[i].Company_Name %></h2>
              <div class="info">
                <h3 class="jobname" style="font-style: normal; color: rgb(80, 80, 80)">
                    <%= Company[i].Job_Name %>
                </h3>
                <div class="roles">
                  <% for(let j=0; j<Company[i].Skills.length; j++){ %>
                    <div class="val">
                      <%= Company[i].Skills[j] %>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="Jar" style="  background-color: rgb(168, 168, 168); 
              width: 100%;
              max-height: 10px;
              border-radius: 100px;">
                <div class="bar" style="  background-color: rgb(27, 80, 224);
                color: white;
                max-height: 10px;
                text-align: right;
                border-radius: 100px;
                width: <%= width %>%;">.</div>
              </div>
              <br />
              <span><%= Company[i].Vacancies %> out of <%= Company[i].Total %></span>
              <br />
              <div class="Period" style="width: 100%">
                <div class="calender-full">
                  <div class="calender">
                    <img src="/resources/calendar.png" style="max-width: 1.2rem" />
                    <span>Duration</span>
                  </div>
                  <p style="display: flex; align-items: flex-start"><%= Company[i].Duration %></p>
                </div>
        
                <div class="stipend-full">
                  <div class="stipend">
                    <img src="/resources/money-bag.png" style="max-width: 1.2rem" />
                    <span>Stipend</span>
                  </div>
                  <p style="display: flex; align-items: flex-start">$<%= Company[i].Salary %></p>
                </div>
              </div>
        

            </div>
            <div class="button">
              <div class="btn">
                <p><a onclick="popupModal('<%= Company[i]._id %>')">View Details</a></p>
              </div>
            </div>
          </div>
          <% } %>
        <% } %>
      </div>
      <div id="loader" style="text-align: center;margin-top: -52px; visibility: hidden;"><img src="/resources/loader.gif" alt="loading..." width="45" >
      </div>
      </div>
      <div id="model">
      </div>
    </div>

    <br>
    <br>

    <%- include('partials/footer') -%>
    <script
      src="https://kit.fontawesome.com/3e8ef7fc9d.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/FilterPage_JobSeeker.js"></script>
  </body>
</html>