<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/JobSeeker_Filter.css" />
    <link rel="stylesheet" href="/css/homePage_nav.css" />
    <link rel="stylesheet" href="/css/footer_styles.css" />
    <link rel="stylesheet" href="/css/res3.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
    <link rel="stylesheet" href="/css/res4.css">
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
    <title>Filter | Page</title>
  </head>
  <body>
   <%- include('partials/navbar_jobSeeker'); -%>  
    <div class="container">    
      <div class="input_filter">
        <h1>FIND JOBS</h1>
        <div class="boxes">
          <input
          type="search"
          placeholder="ðŸ” Search..."
          id="search-input"
          style="font-size: 1.2rem"
          onkeyup="search()"
          value=""
        />

        <div class="filter_dropdown">
            <div class="filter">
                <label for="filter">Filter by:</label>
                <select id="filter_mode" onchange="filter_mode()">
                  <option value="all">All</option>
                  <option value="online">Online</option>
                  <option value="offline">Offline</option>
                </select>
              </div>
        </div>
        </div>
      </div>

      <br>
      <br>
  
      </div>
      <div class="cards">

        <% for(let i=0; i< Company.length; i++){ %>
          <% if(Company[i].vacancies != 0){ %>
            <% let width = (Company[i].Total - Company[i].Vacancies)/Company[i].Total * 100 %>
          <div class="card">
            <div class="img">
              <img src="/resources/placement.jpg" alt="" style="width: 25vh; height: 25vh" />
            </div>
            <div class="content" style="width: 100%">
              <h2><%=Company[i].Company_Name %></h2>
              <div class="info">
                <h3 style="font-style: normal; color: rgb(80, 80, 80)">
                    <%= Company[i].Job_Name %>
                </h3>
                <div class="roles">
                  <% for(let j=0; j<Company[i].Skills.length; j++){ %>
                    <div class="val">
                      <%= Company[i].Skills[j] %>
                    </div>
                  <% } %>
                </div>
              </div>
        
              <div class="Jar" style="  background-color: rgb(168, 168, 168); 
              width: 100%;
              max-height: 10px;
              border-radius: 100px;">
                <div class="bar" style="  background-color: rgb(27, 80, 224);
                color: white;
                max-height: 10px;
                text-align: right;
                border-radius: 100px;
                width: <%= width %>%;">.</div>
              </div>
              <br />
              <span><%= Company[i].Vacancies %> out of <%= Company[i].Total %></span>
              <br />
              <div class="Period" style="width: 100%">
                <div class="calender-full">
                  <div class="calender">
                    <img src="/resources/calendar.png" style="max-width: 1.2rem" />
                    <span>Duration</span>
                  </div>
                  <p style="display: flex; align-items: flex-start"><%= Company[i].Duration %></p>
                </div>
        
                <div class="stipend-full">
                  <div class="stipend">
                    <img src="/resources/money-bag.png" style="max-width: 1.2rem" />
                    <span>Stipend</span>
                  </div>
                  <p style="display: flex; align-items: flex-start">$<%= Company[i].Salary %></p>
                </div>
              </div>
        

            </div>
            <div class="button">
              <div class="btn">
                <p><a href="/jobseeker_Landing/filter_page?id=<%= Company[i]._id %>">View Details</a></p>
              </div>
            </div>
          </div>
          <% } %>
        <% } %>
      </div>
      <% if(Job!=""){ %>
      <div class="popup-container" id="popup-container">
          <div class="popup">
            <div class="button">
                <button type="submit" onclick="popupclose()">
                  <i class="fa-solid fa-arrow-left" id="button-back" style="font-size: 1rem;"></i></button>
                  <h1><%= Job.Company_Name %></h1>
            </div>
          
            <div class="pop-content">
              <% let pmonth = Math.floor(Job.Salary/12); %>

              <h2><%= Job.Job_Name %></h2>
              <p><%= Job.Job_Description %></p>
              <h3>Required Skills:</h3>
              <ul>
                
             <% for(let i = 0 ; i < Job.Skills.length ; i++){ %>
                <li><%= Job.Skills[i] %></li>
                <% } %>
              </ul>
              <h3>Salary:</h3>
              <p><%= Job.Salary %></p>
              <h3>Perks:</h3>
              <ul>
                <li>Health insurance</li>
                <li>Paid time off</li>
                <li>Retirement savings plan</li>
                <li>Employee discounts</li>
              </ul>
              <h3>Number of openings:</h3> <p><%= Job.Vacancies %></p>
              
          
              <h3>Key responsibilities:</h3>
              <ul>
                
                <% for(let i = 0 ; i < Job.Responsibilities.length ; i++){ %>
                   <li><%= Job.Responsibilities[i] %></li>
                   <% } %>
                 </ul>

              <h3>Earn certifications in these skills:</h3>
              <ul>
                <li>Learn Business Communication</li>
              </ul>
              <h3>Salary Probation:</h3>
          
              <ul>
                <li>Duration:<%= Job.Duration %> months</li>
                <li>Salary during probation: <%= pmonth %>/month </li>
              </ul>
            </div>
            <form method="post">
              <div class="button1">
                <button type="submit" name="apply" value="<%= Job._id %>">Apply Now</button> 
              </div>
              
            </form>
          </div> 
      </div>
      <% } %>
    </div>

    <br>
    <br>

    <%- include('partials/footer') -%>
    <script
      src="https://kit.fontawesome.com/3e8ef7fc9d.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/FilterPage_JobSeeker.js"></script>
  </body>
</html>