<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Find Tutor</title>
    <link rel="stylesheet" href="/css/FT.css" />
    <link rel="stylesheet" href="/css/footer_styles.css" />
    <link rel="stylesheet" href="/css/homePage_nav.css" />
    <link rel="stylesheet" href="/css/res3.css" />
    <link rel="stylesheet" href="/css/res4.css" />
    <script src="/js/Find_Tutor.js"></script>
    <script
      src="https://kit.fontawesome.com/21198450f8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include("partials/navbar_Student") -%>

    <div class="filter_section">
      <h1>Find Courses Offered</h1>
      <div style="width: 100%; display: flex;flex-direction: column; align-items: center;position: relative;">
        <input
          type="search"
          placeholder="ðŸ” Search...."
          id="search-input"
          style="font-size: 1.2rem"
          class="search-input"
        />
        <table class="dropdown">
        </table>
      </div>

      <div class="filter_dropdown">
        <div class="filter">
          <label for="filter_mode">Filter by:</label>
          <select id="filter_mode" onchange="filter_mode()">
            <option value="all">All</option>
            <option value="online">Online</option>
            <option value="offline">Offline</option>
          </select>
        </div>
      </div>
    </div>

    <div>
      <div class="cards result-div" id="cards">
        <% for(let i = 0 ; i < course.length ; i ++){ %>
        <div class="card">
          <div class="row-flex">
            <div class="img">
              <img
                src="/resources/tutor.png"
                alt="Profile-Photo"
                style="width: 12rem"
              />
            </div>
            <div class="content" style="width: 100%">
              <h3 class="card-name"><%= course[i].Tutor_Name %></h3>
              <div class="info">
                <div class="subject-title"><%= course[i].Course_Name %></div>
                <p class="fee">
                  <span class="fee-span">Fee:</span>â‚¹<%= course[i].Course_Fee %>
                  / month
                </p>
                <p class="duration">
                  <span class="duration-span">Duration:</span><%=
                  course[i].Course_Duration %> months
                </p>
                <p class="Mode">
                  <span class="mode-span">Mode:</span
                  ><span class="In-person"><%= course[i].Mode %></span>
                </p>
              </div>
            </div>
          </div>
          <div class="contact">
            <form method="post">
              <button
                type="submit"
                value="<%= course[i]._id %>"
                name="apply"
                class="contact-now"
              >
                <span style="white-space: nowrap">Contact Me</span>
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <div
        id="loader"
        style="
          text-align: center;
          margin-top: -64px;
          margin-bottom: 1rem;
          visibility: hidden;
          z-index: 20;
        "
      >
        <img src="/resources/loader.gif" alt="loading..." width="45" />
      </div>
    </div>
    <%-include('partials/footer'); -%>
  </body>
</html>
