<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Jobs</title>
    <link rel="stylesheet" href="/css/profile_tut_cmp.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
    <style>
        .navigation ul li:nth-child(1) {
            margin-bottom: 40px;
            pointer-events: none;
          }
        .navigation ul li:nth-child(3) {
            background-color: var(--white);
        }
        .navigation ul li:nth-child(3) a {
            color: var(--blue);
        }

    </style>
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <%- include('partials/profile_sidebar_Company'); -%>
        <!-- ========================= Main ==================== -->
        <div class="main Dashboard">
            <%- include('partials/topbar'); -%>
                <!-- ================= New Users ================ -->
                <div class="recentUsers">
                    <div class="cardHeader">
                        <h2>My Courses</h2>
                    </div>

                    <table>

                       <tr> 
                        <th>Job Name</th>
                        <th>Salary</th>
                        <th>Vacancies</th>
                        <th>Duration</th>
                        <th>No. of Employee</th>
                     </tr>
                        <tr>
                    <% for(let i =0; i< company.myJobs.length; i++){ %>
                        <% let a = company.myJobs[i]; %>
                        <td><%= a.Job_Name %></td>
                        <td><%= a.Salary %></td>
                        <td><%= a.Vacancies %></td>
                        <td><%= a.Duration %></td>
                        <td><%= a.myEmployee.length %></td>
                        </tr>
                     <% } %>
                    </table>
                </div>
            </div>
        </div>
    <script src="js/main.js"></script>

</body>
</html>