<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | JobSeeker</title>
    <link rel="stylesheet" href="/css/profile_stu.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
</head>
<body >
        <div class="details">
                <img src="/resources/peeps-avatar.png" alt="ProfilePic">
                <div class="txtdetail">
                    <p><%= User.First_Name %></p>
                    <p><%= User.Email %></p>
                    <p><%= User.Mobile %></p>     
                </div>
                <div class="btndiv">
                    <button class ="btn" onclick="tabchange(0)">Jobs</button>
                    <button class ="btn" onclick="tabchange(1)">View Profile</button>
                    <button class ="btn" onclick="tabchange(2)">Edit Profile</button>
                    <button class="btn"><a href="/Jobseeker_Landing" style="text-decoration: none;color: white;">Back</a></button>
                </div>
        </div>
            <div class="rhs rhs_courses dpn">
              <h1>Courses Enrolled </h1>
            <div class="enrolled">
               <% if(User.myJobs.length == 0){ %>
                    <p>No Jobs Applied</p>
               <% } else{ %>  
                   <% for(let i = 0 ; i < User.myJobs.length ; i++){ %>
                        <div class="card_course">
                            <img src="/resources/stock-photo-businessman-hand-working-with-new.jpeg" alt="Company">
                            <div class="trans">
                                <h4 class="cardtitle">
                                  <%= User.myJobs[i].Job_Name %>
                                </h4>
                        <div class="personaldetail">
                                <h4>
                            <i class="fa-solid fa-user"></i><%= User.myJobs[i].Company_Name %>
                                </h4>     
                                <h4>
                                    <i class="fa-solid fa-coins"></i>
                                    <%= User.myJobs[i].Salary %></h4>
                              </div >
                                <div class="coursedetail">

                                    <h4><i class="fa-solid fa-calendar"></i><%= User.myJobs[i].Join_Date %></h4>
                                </div>
                            </div>
                        </div>
                   <% } %>
              <% } %>
            </div>
        </div>
        <div class="rhs rhs_vprofile dpn">

            <table>
            
            <tr class="name">
                <th class="lhead">
                    Name 
                </th>
                <td> : </td>
                <td>
                    <%= User.First_Name %>
                </td>
            </tr>
            <tr class="email">
                <th class="lemail">
                    Email 
                </th>
                <td>:</td>
                <td>
                    <%= User.Email %>
                </td>
            </tr>
            <tr class="phonenum">
                <th class="lphn">
                    PhoneNumber 
                </th>
                <td>:</td>
                <td>
                    <%= User.Mobile %>
                </td>
            </tr>

            <tr class="gender">
                <th class="lgender">
                    Gender
                </th>
                <td>:</td>
                <td>
                    <%= User.Gender %>
                </td>
            </tr>

            <tr class="hq">
                <th class="lhq">
                    Qualification
                </th>
                <td>:</td>
                <td>
                    <%= User.Qualification %>

                </td>
            </tr>
        </table>
        </div>

        
        <form  method="post">
        <div class="rhs rhs_eprofile dpn">
            <div class="box">
                <div class="float-group">
                 <div class="years">
                    <input type="text" placeholder="Name" name="name">
                 </div>
                    <div class="years">
                        <input type="password" name='password' placeholder="Enter Newpassword">
                    <input type="password" placeholder="Confirm Newpassword">
                    </div>
                   <div class="years">
                    <input type="text" placeholder="Email" name="email">
                    <input   type="text" maxlength="10" name="mobile"
                    title="Please enter exactly 10 digits" placeholder="Phone Number">
                   </div>

                </div>
                <button type="submit">Edit</button>
            </div>
        </form>
        </div>
       
                
   <script src="/js/profile_stu.js"></script>
</body>
</html>