<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Enrolled</title>
    <link rel="stylesheet" href="/css/profile_tut_cmp.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
    <style>
        .navigation ul li:nth-child(1) {
            margin-bottom: 40px;
            pointer-events: none;
          }
        .navigation ul li:nth-child(4) {
            background-color: var(--white);
        }
        .navigation ul li:nth-child(4) a {
            color: var(--blue);
        }

    </style>
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <%- include('partials/profile_sidebar_tutor'); -%>

        <div class="main Dashboard">
            <%- include('partials/topbar'); -%>
                <!-- ================= Students Enrolled ================ -->
                <div class="recentUsers">
                    <div class="cardHeader">
                        <h2>Students Enrolled</h2>
                    </div>

                    <table>

                        <th>Name of Student</th>
                        <th>Course Name</th>
                        <th>Student Email</th>
<% for(let i = 0; i< Tutor.myCourses.length; i++){%>
    <% for(let j =0; j < Tutor.myCourses[i].myStudents.length ; j++){ %>
        <tr>
            <td><%= Tutor.myCourses[i].myStudents[j].Student_Name %></td>
            <td> <%= Tutor.myCourses[i].Course_Name  %></td>
            <td> <%= Tutor.myCourses[i].myStudents[j].Student_Email %></td>
         </tr>
        <% } %>
    <% } %>
                    </table>
                </div>
            </div>
        </div>
    <script src="/js/main.js"></script>

</body>
</html>