<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorLanding</title>
    <link rel="stylesheet" href="/css/profile_tut_cmp.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>

    <style>
        .navigation ul li:nth-child(2) {
            background-color: var(--white);
        }
        .navigation ul li:nth-child(2) a {
            color: var(--blue);
        }
        .navigation ul li:nth-child(1) {
            margin-bottom: 40px;
            pointer-events: none;
          }
    </style>
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <%- include('partials/profile_sidebar_tutor'); -%>
        <!-- ========================= Main ==================== -->
        <div class="main Dashboard">
            <%- include('partials/topbar'); -%>
                <!-- ================= New Users ================ -->
                <div class="recentUsers">
                    <div class="cardHeader">
                        <h2>My Profile</h2>
                    </div>

                    <table>
                        <tr>
                           <td>Name </td>
                           <td> : </td>
                        <td> <%= Tutor.First_Name %> <%= Tutor.Sur_Name %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td> : </td>
                            <td> <%= Tutor.Email %> </td>
                        </tr>

                        <tr>
                            <td>Gender</td>
                           <td> : </td>
                           <td> <%= Tutor.Gender %> </td>
                        </tr>

                        <tr>
                            <td>Mobile</td>
                            <td> : </td>
                            <td> <%= Tutor.Mobile %></td>
                        </tr>

                        <tr>
                            <td>Dob</td>
                            <td> : </td>
                            <td><%= Tutor.DOB %> </td>
                        </tr>
                        <tr>
                            <td>Qualification</td>
                            <td> : </td>
                            <td> <%= Tutor.Qualification %> </td>
                        </tr>

                        <tr>
                            <td>Institute Name</td>
                            <td> : </td>
                            <td> <%= Tutor.Institute_Name %></td>
                        </tr>

                        <tr>
                            <td>Address </td>
                            <td> : </td>
                            <td> <%= Tutor.Address %> </td>
                        </tr>


                        <tr>
                            <td>Country </td>
                            <td> : </td>
                            <td> <%= Tutor.Country %> </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>

    <!-- =========== Scripts =========  -->
    <script src="/js/main.js"></script>

</body>
</html>